/packages/
!*.exe
!*.dll
/FodyProblem.Core/bin/Debug
/FodyProblem.Core/obj/Debug
/FodyProblem.Core/PluginsHelp
/FodyProblem.Core.Tests/bin/Debug
/FodyProblem.Core.Tests/obj/Debug
/FodyProblem.iOS/bin/iPhone/Debug
/FodyProblem.iOS/obj/Debug
